html{
    padding: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
}
ul{
  list-style-type:none;
  padding-left: 0;
}

#switch-button{
    display:block;
}
